/* Removing the padding and margin of everything in the website */
* {
  margin: 0;
  padding: 0;
}

#weatherTitle {
  text-align: center;
}

/* Header styling */
header {
  background-color: orange;
  text-align: center;
  width: 100%;
}

#homepage {
  background-color: rgb(255, 191, 0);
  height: 20px;
  width: 100%;
}

/* Navigational menu styling */
nav {
  background-color: #0066ff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 300px;
  margin-bottom: 20px;
}

nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

/* Table styling */
table {
  border-collapse: collapse;
  margin: 0 auto;
}

table, td, th {
  border: 1px solid #000;
  padding: 15px;
}

th {
  font-size: 30px;
}